# This workflow will do a clean installation of node dependencies, check code formatting, lint
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches-ignore: ['main']
  pull_request:
    branches: ['main', 'dev']

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download deps
        run: yarn install --frozen-lockfile

      - name: Format
        run: yarn run format:check

  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download deps
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn run lint

  type-check:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download deps
        run: yarn install --frozen-lockfile

      - name: Check types
        run: yarn run type:check
